@model List<LibroDTO>
@{
    ViewBag.Title = "Index";
}

<div style="margin:40px;">
    <h1 class="text-center">Listado de Libros</h1>
    <hr />

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Año</th>
                <th scope="col">Genero</th>
                <th scope="col">Num Paginas</th>                
            </tr>
        </thead>
        <tbody>

            @foreach (var libro in Model)
            {
                <tr>
                    <td>@libro.Titulo</td>
                    <td>@libro.Año</td>
                    <td>@libro.Genero</td>
                    <td>@libro.NumeroPaginas</td>
                    
                    <td>
                        <a href="@Url.Action("Detalle","Empleados", new { id= libro.IdLibro})" class="btn btn-success right">VER DETALLE</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a href="@Url.Action("Nuevo","Libro")" class="btn btn-primary right">Nuevo</a>
</div>


