@model List<AutorDTO>
@{
    ViewBag.Title = "Index";
}

<div style="margin:40px;">
    <h1 class="text-center">Listado de Autores</h1>
    <hr />

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Correo Electronico</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var autor in Model)
            {
                <tr>
                    <td>@autor.Nombre</td>
                    <td>@autor.FechaNacimiento</td>
                    <td>@autor.Ciudad</td>
                    <td>@autor.CorreoElectronico</td>

                    <td>
                        <a href="@Url.Action("Detalle","Autor", new { id= autor.IdAutor})" class="btn btn-success right">VER DETALLE</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a href="@Url.Action("Nuevo","Autor")" class="btn btn-primary right">Nuevo</a>
</div>



