@model AutorDTO
@{
    ViewBag.Title = "Nuevo";
}

<div style="margin:40px;">
    <h2>Nuevo Autor</h2>
    <hr />
    <form method="post" action="@Url.Action("Nuevo","Autor")">
        <div class="form-group">
            <label>Nombre</label>
            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Año</label>
            @Html.TextBoxFor(x => x.FechaNacimiento, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Ciudad</label>
            @Html.TextBoxFor(x => x.Ciudad, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>>Correo Electronico</label>
            @Html.TextBoxFor(x => x.CorreoElectronico, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Enviar" />
            <a href="@Url.Action("Index","Autor")">Regresar</a>
        </div>


    </form>

</div>


